html
{
    font-size: 10px;
    background: url("sound/13.jpg") bottom center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*
{
    padding: 0;
    margin: 0;
}
.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/2846435.jpg");
    background-size: cover;
}
.container>h1
{
    padding-top: 50px;
    font-size: 5em;
    color: #951B35;
}
.keys
{
    padding-top: 200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.key
{
    border: .4rem solid #951B35;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 .5rem black;
}
.playing
{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
kbd
{
    display: block;
    font-size: 4rem;
}
.sound
{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}
.w
{
    background-image: url("images/tom1.png");
    background-size: cover;
}
.a
{
    background-image: url("images/tom2.png");
    background-size: cover;
}
.s
{
    background-image: url("images/tom3.png");
    background-size: cover;
}
.d
{
    background-image: url("images/tom4.png");
    background-size: cover;
}
.j
{
    background-image: url("images/crash.png");
    background-size: cover;
    color: #951B35;
}
.k
{
    background-image: url("images/kick.png");
    background-size: cover;
}
.l
{
    background-image: url("images/snare.png");
    background-size: cover;
}